@import "~flickity/css/flickity.css";

.Projects {
  display: block;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  z-index: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 64%,
    rgba(29, 29, 29, 1) 100%
  );
  // background: linear-gradient(
  //   45deg,
  //   rgba(255, 0, 0, 1) 0%,
  //   rgba(255, 154, 0, 1) 10%,
  //   rgba(208, 222, 33, 1) 20%,
  //   rgba(79, 220, 74, 1) 30%,
  //   rgba(63, 218, 216, 1) 40%,
  //   rgba(47, 201, 226, 1) 50%,
  //   rgba(28, 127, 238, 1) 60%,
  //   rgba(95, 21, 242, 1) 70%,
  //   rgba(186, 12, 248, 1) 80%,
  //   rgba(251, 7, 217, 1) 90%,
  //   rgba(255, 0, 0, 1) 100%
  // );
  &-Inner {
    padding: calc(6 * var(--spacing-unit)) calc(6 * var(--spacing-unit));
    transform: rotateZ(15deg);
    @media only screen and (max-width: 1000px) {
      transform: rotateZ(0deg);
      padding: calc(3 * var(--spacing-unit)) calc(3 * var(--spacing-unit));
    }
    overflow: visible;
  }

  &-Slider {
    &-Slide {
      margin: 3rem; /* BurgerMenu is 36px tall */
      // background: orange;
      transform: rotateZ(-15deg);
      overflow: visible;
      padding: calc(6 * var(--spacing-unit));
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      @media only screen and (max-width: 1000px) {
        padding: calc(1 * var(--spacing-unit));
        transform: rotateZ(0deg);
      }
      &-Container {
        height: 100vh;
        // width: 80%;
        // background: green;
        display: flex;
        justify-content: center;
        align-content: center;
        @media only screen and (max-width: 800px) {
          flex-direction: column;
        }
        .image {
          max-width: 800px;
          width: 60%;
          margin-left: 1rem;
          padding: calc(6 * var(--spacing-unit));
          @media only screen and (max-width: 800px) {
            padding: 0;
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 3rem;
            margin-left: 0rem;
            align-self: center;
          }
          img {
            width: 100%;
          }
        }
        .content {
          // background: yellow;
          width: 50%;
          position: relative;
          @media only screen and (max-width: 800px) {
            text-align: center;
            width: 100%;
          }
          .title {
            // background: lime;
            width: 100%;
            color: #fff;
            font-size: clamp(2rem, 8vw, 5rem);
            text-align: left;
            @media only screen and (max-width: 800px) {
              text-align: center;
              // margin-top: 2rem;
              padding: 0 calc(3 * var(--spacing-unit));
            }
          }
          .number {
            // background: pink;
            margin: 0;
            font-size: clamp(3rem, 10vw, 7rem);
            text-align: left;
            margin: 10% 0 0 10%;
            @media only screen and (max-width: 800px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.Projects,
.Projects-Inner,
.Projects-Slider
// .Projects-Slider-Slide
{
  max-width: 100%;
  overflow-x: hidden;
}

.flickity-button {
  background: rgba(208, 222, 33, 1);
  @media only screen and (max-width: 800px) {
    display: none;
  }
  svg {
    fill: rgba(255, 0, 0, 1);
  }
}

.flickity-page-dots {
  display: none;
}
