.About {
  overflow-y: visible;
  margin-top: 3rem; /* BurgerMenu is 36px tall */
}

.About-Content {
  // background: rgba(0, 0, 0, 0.1);
  color: #fff;
  // text-shadow: 3px 3px #000;
  font-size: 2rem;
  font-weight: 100;
  padding: calc(6 * var(--spacing-unit)) calc(6 * var(--spacing-unit));
  text-align: center;
  align-content: center;
  h2 {
    font-size: 3rem;
  }
  p {
    max-width: 60rem;
    margin: 0 auto;
    font-weight: 100;
    font-size: clamp(1.5rem, 3vw, 2rem);
    background: #000;
    padding: calc(6 * var(--spacing-unit));
  }
}
